<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gravity.ourmoments.mapper.UserMapper">

    <resultMap id="UserResultMap" type="com.gravity.ourmoments.entity.User">
        <id property="userId" column="user_id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="nickname" column="nickname"/>
        <result property="avatar" column="avatar"/>
        <result property="bio" column="bio"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <select id="findById" resultMap="UserResultMap">
        SELECT * FROM sys_user WHERE user_id = #{userId}
    </select>

    <select id="findByUsername" resultMap="UserResultMap">
        SELECT * FROM sys_user WHERE username = #{username}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="userId">
        INSERT INTO sys_user (username, password, nickname, avatar, bio, create_time, update_time)
        VALUES (#{username}, #{password}, #{nickname}, #{avatar}, #{bio}, NOW(), NOW())
    </insert>

    <update id="update">
        UPDATE sys_user
        <set>
            <if test="nickname != null">nickname = #{nickname},</if>
            <if test="avatar != null">avatar = #{avatar},</if>
            <if test="bio != null">bio = #{bio},</if>
            update_time = NOW()
        </set>
        WHERE user_id = #{userId}
    </update>

    <delete id="deleteById">
        DELETE FROM sys_user WHERE user_id = #{userId}
    </delete>

</mapper>
